.alertify-notifier .ajs-message.ajs-error{
    border-radius: 10px;
    color: white;
    letter-spacing: 2px;
    background: #ff4646;
}
.alertify-notifier .ajs-message.ajs-success{
    border-radius: 10px;
    color: white;
    letter-spacing: 2px;
    background: #46ff90;
}